body  {

  background-color: #86cfaf;

}

img{
  width: 250px;

}


* {
  font-family: "Didact Gothic", sans-serif;
}

h1, h2 {
  font-family: "Didact+Gothic", sans-serif;
}


#landing, #gallery{
  height: 80vh;
  /* center the content vertically using flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul, ol{
  list-style: none;
  padding: 0;

  color: #d2b0d6;
}

h2 {
  color: #1f749c;
}